.link {
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    border-style: none;
    font-size: 1.2rem;
    background: none;
    color: var(--text);
}

.active {
    color: var(--title);
    text-transform: uppercase;
    text-decoration: underline;
    border-style: none;
    font-size: 1.2rem;
    background: none;
}