@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

:root {
  --title: rgb(56, 103, 246);
  --line: rgb(158, 158, 208);
  --background: rgb(245, 241, 252);
  --text: rgb(109, 109, 109);
}

body {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
}
