@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

:root {
  --text-color: rgb(85, 130, 122);
  --form-color: rgb(236,166,139);
  --button-color: rgb(208,78,68);
  --line-color: rgb(175,189,184);
}

body {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
}
